<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>itssamjo!</title>

        <!-- add bootstrap link styling here -->
    </head>
    <body>
        <div id="app">
            {% load static %}
            <script  src="{% static "reactfrontend/main.js %}></script>

            <!-- add bootstrap js files here -->
        </div>
    </body>
</html>