.App {
  /* background-color: #D9C8C2; */
}

.App-logo {
  height: 40vmin;
}

.App-title {
  color: white;
  background-color: #D9C8C2;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8vh;
  font-size: 55px;
  font-family: 'Pacifico', cursive, sans-serif
}

.App-mainContent {
  background-color: #D9C8C2;
}

.App-link {
  color: #09d3ac;
}
