.App {
  /* background-color: #D9C8C2; */
}

.App-logo {
  height: 40vmin;
}

.App-title {
  color: white;
  background-color: #D9C8C2;
  width: fit-content;
  margin-left: 5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 55px;
  font-family: 'Pacifico', cursive, sans-serif;
}

.App-link {
  color: #09d3ac;
}
